@model User
@{
    Layout = "_ManageLayout";
    ViewData["Title"] = Model is null? "New User":$"Updating {Model.Name}";
}

<div class="container">
    <form method="post" class="bg-info text-dark  p-5" asp-action="@(Model is null?"AddUser":"UpdateUser")" asp-controller="Manage" enctype="multipart/form-data">
        <h2 class="text-center">@(Model is null? "Create New User":$"Updating {Model.Name}")</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row mb-3 mx-0 justify-content-center">
            @if(Model!=null)
            {
                <input hidden asp-for="UserId" />
            }
            <div class="col-12 mb-3">
                <label asp-for="Name" class="fw-bold d-block form-label mt-3">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-12">
                <label asp-for="Email" class="fw-bold d-block form-label mt-3">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-12">
                <label asp-for="Password" class="fw-bold d-block form-label mt-3">Password</label>
                <input asp-for="Password" value="@(Model is null?"":$"{Model.Password}")" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-12">
                <label asp-for="RoleId" class="fw-bold d-block form-label mt-3">Role</label>
                <select asp-for="RoleId" class="form-select" asp-items="@ViewBag.Roles">
                    <option value="" selected>Choose...</option>
                </select>
                <span asp-validation-for="RoleId"></span>
            </div>
            <label asp-for="Verified" class="col-12 fw-bold d-inline-block form-label mt-3">Verified:</label>
            <div class="d-inline-block">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="yesverified" asp-for="Verified" type="radio" value="true">
                    <label class="form-check-label" for="yesverified" asp-for="Verified">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="notverified" asp-for="Verified" type="radio" value="false">
                    <label class="form-check-label" for="notverified" asp-for="Verified">No</label>
                </div>
            </div>
            <span asp-validation-for="Verified"></span>
            <div class="col-12">
                <label for="img" class="fw-bold d-block form-label mt-3">Image</label>
                <input name="img" type="file" class="form-control" />
                <span asp-validation-for="UserImg"></span>
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-end gap-3">
            @if (Model != null)
            {
                <input type="hidden" name="ActionName" value="Update" />
            }
            <input type="submit" value="@(Model is null?"Add":"Update")" class="btn btn-success d-inline-block  px-3" />
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
