@model IEnumerable<Department>
@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "Departments";
    int? userId = (int.TryParse(User.FindFirst("id")?.Value, out int id)) ? id : null;

}
@if (User.IsInRole("Admin"))
{
    <div class="d-flex py-2 justify-content-end mb-2">
        <a asp-action="AddDepartment" asp-controller="Manage" class="btn btn-primary d-inline-block px-3">Add Department</a>
    </div>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Manager</th>
            <th>Status</th>
            <th>Courses</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() <= 0)
        {
            <tr>
                <td class="h2" colspan="7">No Departments To display</td>
            </tr>
        }
        else
        {
            foreach (var department in Model)
            {
                @if(User.IsInRole("Admin") ||  department.ManagerId == userId)
                {
                    <tr>
                        <td>@department.DeptId</td>
                        <td>@department.DeptName</td>
                        <td>@department.DeptCapacity</td>
                        <td>@(department.Manager !=null ? department.Manager.Name:"")</td>
                        <td>@(department.IsAvailable != null && department.IsAvailable.Value == true ? "Open" : "Closed")</td>
                        <td> 
                            @foreach(Course course in department.Courses)
                            {
                                <li>@course.CourseName</li>
                            }
                        </td>
                        <td>
                            <a asp-action="UpdateDepartment" asp-controller="Manage" asp-route-id="@department.DeptId" class="btn btn-warning d-inline-block px-3">Update</a>
                            <a asp-action="UpdateDepartmentCourses" asp-controller="Manage" asp-route-id="@department.DeptId" class="btn btn-secondary d-inline-block px-3">Update Courses</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="DeleteDepartment" asp-controller="Manage" asp-route-id="@department.DeptId" class="btn btn-danger d-inline-block px-3">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
