@model IEnumerable<User>
@{
    Layout = "_ManageLayout";
    ViewData["Title"] = "Students";
}
<div class="d-flex py-2 justify-content-between mb-2 gap-3">
    <a asp-action="ImportStudents" asp-controller="Manage" class="btn btn-success d-inline-block px-3">Add Students</a>
    <div>
        <a asp-action="Students" asp-controller="Manage" asp-route-filter="verified" class="btn btn-primary d-inline-block px-3">Verified Students</a>
        <a asp-action="Students" asp-controller="Manage" asp-route-filter="unverified" class="btn btn-primary d-inline-block px-3">Unverified Students</a>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Student Email</th>
            <th>Student Name</th>
            <th>Is Verified</th>
            <th>Dapartment</th>
            <th>Intake</th>
            <th>Program</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() <= 0)
        {
            <tr>
                <td class="h2" colspan="8">No Users To display</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Email</td>
                    <td>@user.Name</td>
                    <td>@(user.Verified != null && user.Verified.Value == true ? "Verified" : "Not Verified")</td>
                    <td>@user.Department.DeptName</td>
                    <td>@user.Intake.IntakeName</td>
                    <td>@user.Intake.Program.ProgramName</td>
                    <td>

                        <a asp-action="VerifyStudent" asp-controller="Manage" asp-route-id="@user.UserId" class="btn btn-warning d-inline-block px-3">Verify</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="DeleteUser" asp-controller="Manage" asp-route-id="@user.UserId" class="btn btn-warning d-inline-block px-3">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
